* {
    margin: 0px;
    padding:
        box-sizing: border-box;
}

nav {
    background-color: #ffffff;
    height: 70px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}

li a {
    font-family: Arial, sans-serif;
    color: black;
    font-weight: 1;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
}

body {
    background-color: #D6D5DB;
    display: grid;

}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-family: Lato, sans-serif;
    color: #204416;
    margin-top: 10px;
}

h2 {
    text-align: center;
    font-size: 25px;
    font-family: Sanchez, sans-serif;
    text-transform: uppercase;
    font-weight: 1;
    color: #204416
}

.info1 {
    display: flex;
    font-family: Michroma, sans-serif;
    font-size: 18px;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 110px;
    margin-top: 130px;
    color: black;
}


.info2 {
    display: flex;
    font-family: Michroma, sans-serif;
    font-size: 18px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 110px;
    margin-top: -104px;
    color: black;
}

#logo {
    width: 200px;
    height: 200px;
    background-color: #204416;
    border-radius: 50%;
    margin: auto;
    margin-top: -160px;
}


#iconcontainer {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

#iconcontainer h2 {
    margin-bottom: 10px;
}

.steps {
    width: 100px;
    height: 300px;

}

.icon {
    height: 35%;
}

#cursor {
    margin-left: 20px;
}

.nav2 {
    display: flex;
    align-items: center;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 250px;
}

.starter,
.main,
.sideDish,
.dessert,
.drink {
    margin-top: 10px;
    margin-right: 10px;
    width: 200px;
    height: 90px;
    background-color: #2F4D1F;
}

.cards h1 {
    font-family: Michroma, sans-serif;
    font-size: 20px;
    color: white;
}

.bestSell {
    background-color: #90B1BA;
    width: 420px;
    height: 570px;
}

.bestSell h1 {
    color: white;
    font-size: 40px;
}

.bestSell h2 {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 40px;
    margin-right: 160px;
    margin-left: 160px;

}

.bestSell h3 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    text-align: left;
    border-bottom: solid;
    width: 250px;
    margin: auto;
}

.menu {
    display: flex;
    flex-direction: column;
}

#topline {
    border-top: solid;
}

.menucard h1 {
    font-family: Inter, sans-serif;
    text-transform: none;
    text-align: left;
    color: black;
    font-size: 20px;
    margin-top: 10px;
}

#des1 {
    font-family: Inter, sans-serif;
    font-size: 14px;
}

.startermenu > h1,
.mainmenu > h1,
.sidedishmenu > h1,
.dessertmenu > h1,
.drinkmenu > h1 {
    grid-column: 1/-1;
    font-family: Inter, sans-serif;
    color: black;
    text-align: left;
    font-size: 43px;
    margin-top: 200px;
}

.pricecontainer {
    display: flex;
    color: black;
    font-size: 17px;
    text-align: left;
    justify-content: flex-start;
}

.buy {
    display: flex;
    position: relative;
    width: 200px;
    height: 40px;
    background-color: darkslategrey;
    border-radius: 22px;
    bottom: 5px;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.buy p {
    color: white;
    font-family: Michroma, sans-serif;
    font-size: 14px;
    word-spacing: 7px;
}

.startermenu,
.mainmenu,
.sidedishmenu,
.dessertmenu,
.drinkmenu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    margin: 0 30px;
}

.menucard {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    height: 400px;
}

.menucard img {
    display: flex;
    margin: 20px 0;
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}


footer {
    height: 100px;
    background-color: black;
    margin-top: 100px;
}

/* PHONE SIZE - MEDIA QUERY */
@media only screen and (max-width: 599px) {}
