* {
    margin: 0px;
    padding:
        box-sizing: border-box;
}

nav {
    background-color: #ffffff;
    height: 50px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}

li a {
    font-family: Arial, sans-serif;
    color: black;
    font-weight: 1;
    margin: 10px;
    font-size: 20px;
}

body {
    background-color: #dce4c0;
}

body h1 {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-family: Lato, sans-serif;
}

body h2 {
    text-align: center;
    font-size: 20px;
    font-family: Sanchez, sans-serif;
    text-transform: uppercase;
    font-weight: 1;
}

.info1 {
    display: flex;
    font-family: Michroma, sans-serif;
    font-size: 18px;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 110px;
    margin-top: 130px;
}


.info2 {
    display: flex;
    font-family: Michroma, sans-serif;
    font-size: 18px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 110px;
    margin-top: -104px;
}

.topimg {
    height: 260px;
    width: 1300px;
    background-color: lightgrey;
    margin: auto;
    margin-top: 85px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 250px;
    margin-top: 220px;
}

.starter,
.main,
.sideDish,
.dessert,
.veg,
.drink {
    margin-top: 10px;
    margin-right: 10px;
    width: 200px;
    height: 90px;
    background-color: pink;
}

.cards h1 {
    font-family: Michroma, sans-serif;
    font-size: 20px;
}

.bestSell {
    position: absolute;
    background-color: antiquewhite;
    width: 500px;
    height: 570px;
    right: 150px;
    top: 830px;
}

.bestSell h1 {
    font-size: 40px;
}

.menu {
    margin-top: 260px;
    margin-left: 80px;
}

.menu h1 {
    text-align: left;
    font-size: 30px;
    margin-top:60px;

}

.menucard {
    display: flex;
    width: 300px;
    height: 350px;
    background-color: #ffffff;
    margin: 10px;
}

.startermenu,
.mainmenu,
.sidedishmenu,
.dessertmenu,
.vegmenu,
.drinkmenu {
    display: flex;
}

footer {
    height: 100px;
    background-color: darkgreen;
    margin-top: 100px;
}
